{% extends "base.html" %}

{% block content %}
  {{ super() }}

  <hr>

  {% if page.meta.author %}
    <div class="page-authors">
      本页作者：
      {% set authors = page.meta.author.split(',') %}
      {% for author in authors %}
        <a href="https://github.com/{{ author.strip() }}" target="_blank">
          {{ author.strip() }}
        </a>{% if not loop.last %}, {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  <div class="page-license">
    若未特别说明，本站使用 SATA 与 CC BY-NC-SA 4.0。
  </div>

  <script src="https://giscus.app/client.js"
        data-repo="CB-X2-Jun/codeforces-problems-cn-translations"
        data-repo-id="R_kgDORNrtjg"
        data-category="Announcements"
        data-category-id="DIC_kwDORNrtjs4C2Rv6"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>

{% endblock %}
